/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070f4;
}
.container{
    position: relative;
    max-width: 830px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
} 
    
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.butCent{
    width: 200px;
    height: 100px;
    justify-content: center;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.txtDown{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.show{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    display: none;
  } 
.form .input-field2 .show.active{
    color: #27ae60;
  }
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 3px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 2px solid #aaa;
    padding: 0 15px;
    height: 42px;
    width: 250px;
    margin: 8px 0;
}
.indicator2{
    height: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
  }
.indicator2 span{
position: relative;
height: 100%;
width: 100%;
background: lightgrey;
border-radius: 5px;
}
.indicator2 span:nth-child(2){
margin: 0 3px;
}
.indicator2 span.active:before{
position: absolute;
content: '';
top: 0;
left: 0;
height: 100%;
width: 100%;
border-radius: 5px;
}
.indicator2 span.weak:before{
background-color: #ff4757;
}
.indicator2 span.medium:before{
background-color: orange;
}
.indicator2 span.strong:before{
background-color: #23ad5c;
}

form .text2{
    font-size: 20px;
    font-weight: 500;
    display: none;
    margin-bottom: -10px;
  }
form .text2.weak{
color: #ff4757;
}
form .text2.medium{
color: orange;
}
form .text2.strong{
color: #23ad5c;
}

.input-field2 input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 2px solid #aaa;
    padding: 0 15px;
    height: 42px;
    width: 250px;
    margin: 8px 0;
}
.error-text{
    background: #F8D7DA;
    padding: 8px 0;
    border-radius: 5px;
    color: #8B3E46;
    border: 1px solid #F5C6CB;
    display: none;
}

.error-text.matched{
    background: #D4EDDA;
    color: #588C64;
    border-color: #C3E6CB;
}


.input-field2 label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #265df2;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}


@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}